body {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative; 
}

body::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffe8d6; 
    opacity: 0.7; 
    pointer-events: none; 
    z-index: 1; 
}

body > * {
    z-index: 2; 
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe8d6; /* Matches your theme */
    padding: 10px 20px;
    height: 60px; /* Increased height */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-logo a {
    text-decoration: none;
    font-size: 24px;
    color: #ff6347;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #8e44ad; 
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
    color: #ff6347;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Optional: set a max-width for the home section */
    margin: 0 auto;
    padding: 20px;
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
}
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.app-heading {
    font-size: 32px;
    color: #ff6347;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    background: #f9f2e7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.input-container input {
    width: 100%; 
    border: 2px solid #f9f2e7;
    border-radius: 8px;
    margin-bottom: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    outline: none;
    background-color: #f9f2e7;
    box-sizing: border-box; /* Include padding/border in element's width */
}

.input-container button {
    background-color: #ff6347;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%; /* Ensure button takes full width of its container */
    max-width: 200px;
    text-align: center;
    box-sizing: border-box; /* Include padding/border in button's width */
}

.input-container button:hover {
    background-color: #ff8c42;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.chip {
    display: inline-flex;
    align-items: center;
    background: #8e44ad;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.chip:hover {
    background-color: #9b59b6;
    transform: translateY(-2px);
}

.delete-icon {
    width: 18px;
    margin-left: 8px;
    cursor: pointer;
}
.download-icon {
    width: 18px;
    margin-left: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 75px;
}
.recipe-delete-icon{
    width: 18px;
    margin-left: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
}

.heart-icon {
    width: 15px;
    margin-right: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 30px;
    transition: transform 0.2s, color 0.3s;
}

.heart-icon.liked {
    color: #8e44ad;
    transform: scale(1.2);
}
.increase-icon {
    width: 18px;
    margin-left: 8px;
    cursor: pointer;
}
.find-recipe-btn {
    background-color: #ff8c42;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 10px 0;
    width: 100%;
    max-width: 200px;
}

.find-recipe-btn:hover {
    background-color: #ff6347;
}

.recipe-container {
    background: #fff9e1;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    max-height: 100%;
}

.recipe-container h1, .recipe-container h2, .recipe-container h3 {
    color: #ff6347;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-container ul,
.recipe-container ol {
    padding-left: 20px;
    margin: 0; /* Remove unnecessary margin */
    list-style-position: inside; /* Align text with the list marker */
}

.recipe-container li {
    margin-bottom: 8px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify; /* Optional: Justify the text if needed */
}

p {
    color: #333;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}

/* General Styles for Pantry Page */
.pantry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the pantry content is vertically centered */
    background-color: #f4f4f9; /* Light background for the page */
    padding: 20px;
  }
  
  .pantry__title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Styles for Recipe Item Container */
  .pantry__items {
    width: 100%;
    max-width: 800px; /* Limit the width of the recipes */
    margin-top: 20px;
    padding: 0 10px;
  }
  
  .pantry-item {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .pantry-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.02); /* Slight scale-up effect on hover */
  }
  
  .pantry__item__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  /* Delete and Chevron Icons */

  .increase-icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    margin-right: 10px;
  }
  
  /* Styles for Recipe Details */
  .full-recipe {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 1rem;
    color: #34495e;
    line-height: 1.6;
    max-height: 500px;
    overflow-y: auto; /* Allows scrolling if recipe is long */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Transition for Chevron rotation */
  .increase-icon {
    transition: transform 0.3s ease;
  }
  
  /* Optional: Add some spacing between the title and recipes */
  .pantry__items {
    margin-top: 30px;
  }

  .notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe8d6;
    text-align: center;
  }
  
  .notfound-message {
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  
  .notfound-message h1 {
    font-size: 2rem;
    color: #ff6347;
    margin-bottom: 10px;
  }
  
  .notfound-message p {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .home-link {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ff6347;
    transition: background-color 0.3s;
  }
  
  .home-link:hover {
    background-color: #ff8c42;
  }
  .about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    min-height: 100vh;
  }
  
  .about-heading {
    font-size: 2.5rem;
    color: #ff6347;
    margin-bottom: 20px;
  }
  
  .about-content {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  
  .github-links {
    margin-top: 20px;
  }
  
  .github-link {
    font-size: 1.2rem;
    color: #1d72b8;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .github-link:hover {
    color: #ff6347;
  }
  
/* Mobile Styles for Small Screens */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .app-container {
        width: 100%;
        max-width: 100%;
    }

    .app-heading {
        font-size: 24px;
    }

    .input-container {
        padding: 10px;
        max-width: 100%;
        align-items: stretch;
    }

    .input-container input,
    .input-container button {
        width: 100%; 
        margin: 5px 0;
    }

    .recipe-container {
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .recipe-container h1, .recipe-container h2, .recipe-container h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .pantry__title {
        font-size: 1.8rem;
      }
    
      .pantry-item {
        padding: 12px;
      }
    
      .pantry__item__title {
        font-size: 1.3rem;
      }
    
      .delete-icon,
      .increase-icon {
        font-size: 1.3rem;
      }
    
      .full-recipe {
        padding: 12px;
      }
}
